{% extends 'website/base.html' %}

{% block content %}
<div class="container-flex" id="avocadoData">
	<div class="row">
		<div class ="col d-flex justify-content-center">
<table class="table w-75">
  <tr>
    <th scope = "col">City</th>
    <th scope = "col">Type</th>
    <th scope = "col">Average Price ($)</th>
    <th scope = "col">4046 Sold</th>
    <th scope = "col">4225 Sold</th>
    <th scope = "col">4770 Sold</th>
  </tr>
  {% for avocado in price_list %}
  <tbody>
  <tr>
   <td> {{ avocado.city }} </td>
   <td> {{ avocado.avocado_type }}  </td>
   <td> {{ avocado.average_price }}</td>
   <td> {{ avocado.avocado_4046 }} </td>
   <td> {{ avocado.avocado_4225 }}</td>
   <td> {{ avocado.avocado_4770 }}  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}