{% extends 'website/base.html' %}

{% block content %}
{% load static %}
<div class="container-flex">
	<div class="row d-flex align-items-center position-relative" id="homepage">
<div class="col d-flex w-50 flex-column px-5 pt-5 text-white">
<h1>The Millennial Housing Dilemma:</h1>
<h3>Are Millennials Spending Too Much Money on Avocado Toast?</h3>
</div>
<div class="col">
</div>
<img class="position-absolute bottom-0 end-0 w-50 pb-5 mb-3" src="{% static 'website/img/sparkleavocado2.png' %}" alt="border"/>
</div>
{% endblock %}
