{% extends 'website/base.html' %}

{% block content %}
<div class="container" id="avocadoData">
  <div class="row d-flex pt-3">
<div class="col">
  <img src="data:img/png;base64, {{chart| safe}}"/>
</div>
<div class="col d-flex justify-content-center align-items-center">
  <div class="row">
  <h1 class="text-white p-5">A house in Boston is worth the cost of <span id="avocadoCost">325,093 </span>avocados</h1>
  </div>
</div>
</div>
<div class="row">
<div class ="col pt-5">
<table class="table w-25">
  <tr>
    <th scope = "col">City</th>
    <th scope = "col">State</th>
    <th scope = "col">Price ($)</th>
  </tr>
  {% for home in price_list %}
  <tbody>
  <tr>
   <td> {{ home.city }} </td>
   <td> {{ home.state }}</td>
   <td> {{ home.average_price }}  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>



{% endblock %}
