{% extends 'website/base.html' %}

{% block content %}
<div class="container" id="avocadoData">
  <div class="row d-flex pt-3">
<div class="col">
  <img src="data:img/png;base64, {{chart| safe}}"/>
</div>
<div class="col p-5 d-flex justify-content-center">
  <div class="row w-75">
  <h1 class="text-white">A house in Boston is worth the cost of</h1><h1 id="avocadoCost">325,093</h1><h1 class="text-white"> avocados</h1>
  </div>
</div>
</div>
<div class="row">
<div class ="col pt-5">
<table class="table w-50">
  <tr>
    <th scope = "col">City</th>
    <th scope = "col">State</th>
    <th scope = "col">Price ($)</th>
  </tr>
  {% for home in price_list %}
  <tbody>
  <tr>
   <td> {{ home.city }} </td>
   <td> {{ home.state }}</td>
   <td> {{ home.average_price }}  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>



{% endblock %}
