body {
	background-color: #B0CD3D;
}


#homepage, #avocadoData {
	height: 100vh;
}



table {
	border: 1px solid;
	border-color: #568520 !important;
}

#avocadoCost {
	color: #568520 !important;
	font-size: 50px;
}

